body{
  background-color:#001935;
  font-family: 'neue-haas-grotesk-display', sans-serif;
}
#quotes{
  background-color: white;
  margin: 30vh 35vh 7vw 20vw;
  padding: 8vh 5vw;
  border-radius: 8px;
}
#flex{
  display: flex;
  width:auto;
  margin: 10px 20vw;
}
div{
  border: 1px solid black;
  text-align: center;
}
.flexitem{
  flex-grow: 1;
}
.flexitem2{
  flex-grow: 2;
}
button{
  border-radius: 8px;
  padding: 1vh 3vw;
  float: right;
}
