body{
  background-color:#001935;
  font-family: 'neue-haas-grotesk-display', sans-serif;
}
h1{
  margin-bottom: 0;
  padding-bottom: 0;
}
h6{
  margin-top: 1vh;
  margin-left: 1vh;
  margin-bottom: 2vh;
}
hr{
  margin-top: 0;
  padding-top: 0;
}
p{
  margin: 4vh 5vw 2vh 6vw;
}

#quotes{
  background-color: white;
  margin: 20vh 25vw 7vh 25vw;
  padding: 2vh 2vw 8vh 2vw;
  border-radius: 8px;
}
#ribbon div{
  border-style: solid;
  text-align: left;
  color: white;
}
#flex div{
  border-style: solid;
  text-align: center;
  color: white;
}
#ribbon{
  display: flex;
  width:auto;
  margin-top: .5vw;
}
#ribbon input{
  text-align: left;
  margin: 2vh 0px;
}
#ribbon img{
  top: .5vw;
  left: 2.5vw;
  width: 28px;
}
.logo{
  flex-grow: .25;
}
.search{
  flex-grow: 10;
}
.icons{
  flex-grow: 3;
}

#flex{
  display: flex;
  width:auto;
  margin: 10px 25vw;
}
.flexitem{
  flex-grow: 1;
}
.flexitem2{
  flex-grow: 2;
}
button{
  border-radius: 8px;
  padding: 1vh 3vw;
  float: right;
  font-weight:bold;
}
