body{
  background-color:#001935;
  font-family: 'neue-haas-grotesk-display', sans-serif;
}
h1{
  margin-bottom: 0;
  padding-bottom: 0;
}
h6{
  margin-top: 1vh;
  margin-left: 1vh;
  margin-bottom: 2vh;
}
hr{
  margin-top: 0;
  padding-top: 0;
}
p{
  margin: 4vh 5vw 2vh 6vw;
}

#quotes{
  background-color: white;
  margin: 20vh 25vw 7vh 25vw;
  padding: 2vh 2vw 8vh 2vw;
  border-radius: 8px;
}

#topBar{
  border-color: #405368;
  margin-top: 0px;
  padding-top: 0px;
}

/* #ribbon div{
  border-style: solid;
  color: white;
  padding-bottom: 0px;
  margin-bottom: 0px;
} */
#ribbon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:auto;
  margin: 5px 5vw;
  padding-bottom: 0px;
}
#ribbon img{
  margin-top: 5px;
  width: 35px;
}
.logo{
  flex-grow: .1;
}
.search{
  flex-grow: 10;
}
.search input[type=text]{
  padding: 6px 25px  6px 25px;
  width: 30vw;
  border: none;
  border-radius: 4px;
  margin-top: 8px;
  background-color: #405368;
  font-weight: bold;
  font-size: 17px;
}
.search input[type=text]::placeholder{
  color: #B9C0C7;
}
.icons{
  flex-grow: 3;
}

/* bottom flex box */
#flex div{
  border-style: solid;
  text-align: center;
  color: white;
}
#flex{
  display: flex;
  width:auto;
  margin: 10px 25vw;
}
.flexitem{
  flex-grow: 1;
}
.flexitem2{
  flex-grow: 2;
}
button{
  border-radius: 8px;
  border: 0px;
  padding: 1vh 3vw;
  float: right;
  font-weight:bold;
  background-color: #00B8FF;
  color: white;
}
button:active{
  background-color: #00DDFF;
}
