body{
  font-family: 'futura-pt', sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 3vw 6vw 7vw;
}
h1{
  font-size: 5vw;
  margin: 0px;
}
p{
  font-size: 2.5vw;
}
footer{
  font-size: 2vw;
  font-style: italic;
  position: fixed;
  left: 6vw;
  margin-top: 15vh;
  /* bottom: 40vh; */
}
/* links */
#androids{
  color: #A4C639;
}
#humans{
  color: #F27405;
}
#bytes{
  color: #2134E6;
}
#time{
  color: #CB0035;
}
#flares{
  color: #DCD61A;
}
#fires{
  color: #FF1A1A;
}
a:hover{
  text-decoration: underline;
  font-weight: bold;
}
