html{
  font-size: 100%;
}
body{
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  color: black;
}
p{
  font-size: 1.2rem;
  margin: .5rem;
  padding: 0;
}
header{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
}
nav{
  float: right;
  display: flex;
  letter-spacing: .1rem;
  font-size: .8rem;
  font-weight: bold;
}
nav a{

}

.blurb{
  position:fixed;
  top:12rem;
  left: 2.5rem;
}
.name{
  position:absolute;
  /* display: block; */
  text-align: center;
  top:16rem;
}
.name img{
  width: 50rem;
  position: relative;
  margin: 0;
  padding: 0;
}
#fName{
  /* background: green; */
  right: 11.5rem;
  /* bottom: 10rem; */
  /* width: 62vw; */
}
#lName{
  /* background: blue; */
  right: 8.9rem;
  /* top: 12.5rem; */
  bottom: 4.5rem;
}
#particles-js{
  /* color: #707070; */
  width: 100%;
  height: 100%;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;

}
