@font-face {
    font-family: 'hitandrun';
    src: url('assets/hitandrun-webfont.woff2') format('woff2'),
         url('assets/hitandrun-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
  font-family:classic-comic, sans-serif;
  color: #000000;
  background-color: #85d3e6;
}
h1{
  font-family: 'hitandrun', sans-serif;
  font-size: 7vw;
  text-align: center;
  color:#EB6900;
  margin: 0;
  padding: 0;
  line-height: 1;
  /* text-shadow: 0px 1px 4px #000000; */
}
h2{
  font-family: 'hitandrun', sans-serif;
  font-size: 2vw;
  margin: 0;
  padding: 0;
}
h3{
  font-size: 40pt;
}


#container{
  border-radius: 35px;
  height: 75vh;
  max-height: 525px;
  margin: 8vh 25vw 5vh 25vw;
  padding: 3vh 3vw 5vh 3vw;
  background-color: #FFFFFF;
}
#date{
  float: right;
  vertical-align: top;
}

#flex{
  /* background-color: #C7C7C7; */
  display:flex;
  margin: 7.5vh 2vw;
  align-items: center;
  justify-content: space-between;
}
.vertical{
  /* background-color: #FFFFFF; */
  /* border:1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  max-height: 350px;
  justify-content: space-between;
  padding-top:
}
.blocks{
  border:.4vh solid black;
  border-radius: 2vw;
  align-items: center;
  text-align: center;
}
#weather{
  height: 24.5vh;
  width: 19vw;
}
#selfcare{
  height: 20.5vh;
  width: 19vw;
}
#reminder{
  height: 20.5vh;
  width: 17vw;
}
#schedule{
  height: 24.5vh;
  width: 17vw;
}
