@font-face {
    font-family: 'hitandrun';
    src: url('assets/hitandrun-webfont.woff2') format('woff2'),
         url('assets/hitandrun-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
  font-family: classic-comic, sans-serif;
  color: #000000;
  background-color: #85d3e6;
}
h1{
  font-family: 'hitandrun', sans-serif;
  font-size: 60pt;
  letter-spacing: 3px;
  text-align: center;
  color:#EB6900;
  text-shadow: 0.5px 0.5px 2px rgb(0 0 0 / 30%);
  margin: 0;
  padding: 0;
  line-height: 1;
}
h2{
  font-family: 'hitandrun', sans-serif;
  text-shadow: 0.5px 0.5px 2px rgb(0 0 0 / 30%);
  font-size: 18pt;
  letter-spacing: .5px;
  margin: 0;
  padding: 0;
}
h3{
  font-size: 17pt;
  line-height: .5;
}
h4{
  font-size: 15pt;
  line-height: .5;
}

/* white background styling */
#container{
  border-radius: 35px;
  height: 530px;
  width: 520px;
  position: relative;
  top: 7vh;
  left: 26vw;
  padding: 25px 40px;
  background-color: #FFFFFF;
  overflow: hidden;
}

/* heading styling */
header{
  position: relative;
}
#date{
  float: right;
  vertical-align: top;
}

/* grid styling */
#grid{
  /* background-color: #C7C7C7; */
  display: inline-block;
  height: 380px;
  position:relative;
  top: 20px;
  right: 10px;
  align-items: center;
  justify-content: space-between;
}
.left{
  /* background-color: orange; */
  display: block;
  position: relative;
  top: 20px;
  height: 360px;
  width: 265px;
  text-align: center;
}
.right{
  /* background-color: blue; */
  display:block;
  position: relative;
  left: 275px;
  bottom: 340px;
  height: 360px;
  text-align: center;
}
.blocks{
  /* background-color: green; */
  border: 3px solid black;
  border-radius: 23px;
  text-align: center;
  margin:auto;
  width: 250px;
}

/* Weather block styling */
/* Div structure taken from MS Bing Weather widget */
#weather{
  position:relative;
  height: 185px;
  display: inline-block;
  vertical-align: top;
}
.wIcon{
  /* background-color: grey; */
  width: 65px;
  height: 65px;
  position: relative;
  top: 20px;
  left: 40px;
  /* margin: 20px 0px 0px 45px; */
}
.condiTemp{
  /* background-color: green; */
  position: relative;
  display: inline-block;
  bottom: 48px;
  left: 35px;
}
.curTemp{
  font-size: 42.5pt;
}
.unitPick{
  /* background-color: pink; */
  position:relative;
  left: 90px;
  bottom: 60px;
  width: 15px;
}
.pickDiv{
  /* divider between C+F */
  position: absolute;
  top: 20px;
  left: 2px;
  width: 12px;
  border-bottom: 1px solid black;
}
.degPick{
  position: relative;
  color: black;
}
.grey{
  position: relative;
  color: grey;
}
.curCondi{
  /* background-color: grey; */
  position: relative;
  margin: auto;
  bottom:90px;
  font-size: 12pt;
  line-height: .5;
}

/* self care block styling */
#selfcare{
  position: relative;
  top: 20px;
  height: 145px;
}
#scItems{
  color: #a7c957;
  text-shadow: 0.5px 0.5px 2px rgb(0 0 0 / 30%);
  margin: 35px 0px 0px 0px;
  font-size: 60px;
}

/* reminder checklist styling */
#reminder{
  height: 160px;
}
.clist{
  text-align: left;
  display: block;
  position: relative;
  left: 34px;
  top: 3px;
  padding-left: 30px;
  font-size: 13pt;
  line-height: .75;
}
/* Hide the browser's default checkbox */
/* Code from W3Schools: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
.clist input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark{
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 12px;
  width: 12px;
  border: 3px solid black;
  border-radius: 6px;
}
.clist:hover input ~ .checkmark{
  background-color:#ccc;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.clist input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.clist .checkmark:after {
  left: 4px;
  top:0px;
  width: 3px;
  height: 7px;
  border: solid #EB6900;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* end Code from W3Schools */

/* Schedule Styling */
#schedule{
  height: 170px;
  position: relative;
  top:20px;
}
#sList{
  list-style: none;
  position: relative;
  right: 10px;
  bottom: 8px;
  text-align: left;
  font-size: 13pt;
}
#sList li{
  background: url('assets/bullet.png') no-repeat top left;
  background-size:25px;
  background-position: 0 4px;
  line-height: 2;
  padding: 0 0 4px 30px;
}
